.banner {
    // background: url('../img/banner_1600.jpg');
    // background: url('../img/city_landscapes.gif');
    // background: url(https://static.pexels.com/photos/109399/pexels-photo-109399.jpeg);
    // background: url(https://static.pexels.com/photos/34647/pexels-photo.jpg);
    background: url('../img/banner_2_1600.jpg');
    background-size: cover, cover;
    background-position: center, center;
    color: $cl-light;
    height: 100vh;
    width: 100%;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;

    -webkit-flex-align-items: center;
    -ms-flex-align: center;
    align-items: center; 

    -webkit-flex-direction: column;
    flex-direction: column;

    &__links{
        background-color: $cl-base;
        opacity: 0.7;
        border-radius: 5px;
        padding: 15px 20px;
        // text-transform: uppercase;
        margin-left: 5px;
        a{
            padding: 0 10px;
            color: $cl-light;
            text-decoration: none;
            outline: none;
            &:hover{
                color: $cl-yellow;
            }
        }
    }
    &__resume{
        a{
            color: $cl-light;
            text-decoration: none;
            outline: none;
            &:hover{
                color: $cl-yellow;
            }
        }
    }
    h1 {
        font-family: Verdana,Arial,sans-serif;
        font-size: 2.5rem;
        color: $cl-light;
        padding: 1rem;
        font-weight: 600;
        position: relative;
        opacity: 1;
        transform: scale(1);
        transition: transform 0.5s ease, opacity 1s ease;

        &:before,
        &:after{
            height: 2px;
            width: 100%;
            content: "";
            background: $cl-light;
            display: block;
            position: absolute;
            transition: width 0.4s ease;
            transition-delay: 0.8s;
        }

        &:before{
            top: 0;
            left: 0;
        }

        &:after{
            bottom: 0;
            right: 0;
        }
    }
}


.is-loading {
    h1 {
        transform: scale(0.9);
        opacity: 0;
        &:before,
        &:after{
            width: 0;
        }
    }
}
